@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

.Char {
  position: relative;
  min-width: 375px;
  height: 232.837px;
  flex: 1;
  background: linear-gradient(180deg, #fcbd42 20.83%, #e76b24 100%);
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  transition: all 0.3s ease-out;

  &-img {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 232.837px;
    object-fit: contain;
    object-position: 50% 60px;
    transform: scale(2.5);
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(3);
    }
  }

  .img-hover {
    position: absolute;
    height: 232.837px;
    width: 100%;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s ease-out;
  }

  .name {
    @include mixins.flex(row, center, center);
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 36px;
    font-size: 20px;
    font-weight: bold;
    color: variables.$primary-color;
    background-color: black;
  }
}
