@use "../../assets/scss/variables";

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 40px;
  background-color: black;
  border-bottom: 5px solid variables.$primary-color;

  & img {
    height: 45px;
    width: 45px;
  }

  .btns {
    display: flex;
    gap: 15px;

    & button {
      padding: 8px 16px;
      font-weight: 700;
    }

    & button:first-child {
      color: white;
      background-color: variables.$primary-color;
    }

    & button:last-child {
      color: variables.$primary-color;
      background-color: black;
    }
  }
}
