@use "../assets/scss/mixins";
@use "../assets/scss/variables";

.NotFound {
  height: calc(100vh - 80px);
  margin-top: 80px;
  @include mixins.flex(column, center, center);

  .error-wrapper {
    @include mixins.flex(column, center, center, 20px);

    .img-wrapper {
      position: relative;
      animation: gliding 3s linear infinite;
      width: 400px;

      @include mixins.breakpoint(tablet) {
        width: 300px;
      }

      @include mixins.breakpoint(mobile) {
        width: 250px;
      }

      .error-number {
        position: absolute;
        font-size: 167px;
        transform: rotate(8deg) translateY(-135px) translateX(10px);

        @include mixins.breakpoint(tablet) {
          font-size: 127px;
          transform: rotate(10deg) translateY(-100px) translateX(1px);
        }

        @include mixins.breakpoint(mobile) {
          font-size: 107px;
          transform: rotate(10deg) translateY(-90px) translateX(0px);
        }
      }

      .cloud-img {
        position: relative;
        z-index: 1;
        height: 216px;

        @include mixins.breakpoint(tablet) {
          height: 162px;
        }

        @include mixins.breakpoint(mobile) {
          height: 135px;
        }
      }
    }
  }

  .error-text-wrapper {
    text-align: center;

    .error-text {
      font-size: 32px;
    }
  }

  .goback-btn {
    padding: 15px 20px;
    background-color: black;
    font-weight: bold;
    color: variables.$primary-color;
  }
}

@keyframes gliding {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
