@use "../assets/scss/mixins.scss";
@use "../assets/scss/variables.scss";

.layout-bg-about-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .layout-bg-about {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.layout-bg-about-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.83) 88%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.About {
  position: relative;
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 40px;
  color: white;

  .developer-img-wrapper {
    padding: 70px 0 40px 0;
    @include mixins.flex(column, center, center);

    .developer-img {
      border: 5px solid variables.$primary-color;
      border-radius: 50%;
      width: 220px;
      height: 220px;
      object-fit: cover;
      object-position: -33px 0;
    }

    .developer-profession {
      font-size: 20px;
    }
  }

  .intro {
    &-title {
      font-size: 48px;

      @include mixins.breakpoint(tablet) {
        font-size: 40px;
      }

      @include mixins.breakpoint(mobile) {
        font-size: 40px;
      }
    }

    &-title::before {
      content: "";
      margin-right: 20px;
      border-left: 15px solid variables.$primary-color;

      @include mixins.breakpoint(tablet) {
        border-left: 10px solid variables.$primary-color;
      }

      @include mixins.breakpoint(mobile) {
        border-left: 10px solid variables.$primary-color;
      }
    }

    &-list {
      padding-block: 10px;
      list-style: disc;
      list-style-position: inside;
    }
  }

  .languages-container {
    margin-block: 50px;
    .language-icon {
      height: 70px;
      margin-right: 10px;
    }
  }
}
