@use "../assets/scss/variables";

.title {
  font-size: 4.375em;
  font-weight: 600;
  border-left: 15px solid variables.$primary-color;
  margin: 29px 0 0 40px;
  padding-left: 20px;
}

.sect-chars {
  padding: 0 40px;
  margin: 40px 0 45px 0;
}
