@use "../assets/scss/variables";
@use "../assets/scss/mixins";

.title {
  font-size: 70px;
  font-weight: 600;
  border-left: 15px solid variables.$primary-color;
  margin: 29px 0 0 40px;
  padding-left: 20px;

  @include mixins.breakpoint(mobile) {
    font-size: 40px;
    border-left: 10px solid variables.$primary-color;
  }
}

.sect-chars {
  padding: 0 40px;
  margin: 40px 0 45px 0;
}
