@use "../assets/scss/variables";

.header-char {
  display: flex;
  align-items: center;
  gap: 19px;
  padding: 0 40px;
  margin-top: 29px;

  .rectangle {
    height: 107px;
    width: 15px;
    background-color: variables.$primary-color;
  }

  .title {
    font-size: 4.375em;
    font-weight: 600;
  }
}

.sect-chars {
  padding: 0 40px;
  margin: 40px 0 45px 0;
}
