*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: url('https://s3-alpha-sig.figma.com/img/8423/a08b/2281e8709993baf02fccdb6f43b629e2?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=c2SikvyHAQ-fPyPul3EU~vScv1fEZc7KADGRuDHb9QWmAwV-1eRy~PUTHov6cxQZjgaadSC-nGFDPrGdGig9PzTfQOPhVIPQNhal4t5kBmGjoYc9lknzeyMGy1EZvOgj9pbNmwppsSoY5PXPyKoh8ALaF3joEoJ9Uvj0m0Ukd9r08GH4WLVyiNGzBNFDWoj5yuARZzd5hHKLL5tBpiGm3XCW-bapsev6P17ij8lAmyG71HGkg28ves2R~DAK7Gwd9TM1O5Y9GELeZEfBEGaW~y6YJ7VgjODEG7nJauHCGR4mtZ~34EParBV9RnNFVJDByv7si1eoIyBn1~Qn~TSi4Q__'), rgba(211, 211, 211, 0.935);
  background-size:cover;
  background-repeat: no-repeat;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* input, button, textarea, select {
  font: inherit;
} */

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
} 