@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";

.Navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  @include mixins.flex(row, space-between, center);
  width: 100%;
  height: 80px;
  padding: 10px 40px;
  background-color: black;
  border-bottom: 5px solid variables.$primary-color;

  @include mixins.breakpoint(tablet) {
    padding: 0 0 0 20px;
  }

  @include mixins.breakpoint(mobile) {
    padding: 0 0 0 20px;
  }

  .logo-img {
    height: 45px;
    width: 45px;
  }

  .btns {
    display: flex;
    gap: 15px;

    @include mixins.breakpoint(tablet) {
      display: none;
    }
    @include mixins.breakpoint(mobile) {
      display: none;
    }

    &-btn {
      padding: 8px 16px;
      font-weight: 700;
      color: variables.$primary-color;
      background-color: black;
    }

    @include mixins.activeBtn;
  }

  .burger-icon--btn {
    display: none;
    color: black;
    background-color: variables.$primary-color;
    height: 100%;
    padding-inline: 20px;

    @include mixins.breakpoint(tablet) {
      display: block;
    }
    @include mixins.breakpoint(mobile) {
      display: block;
    }

    .burger-icon {
      font-size: 32px;
    }
  }
}

.dropdown-list {
  display: none;
  position: fixed;
  top: 0;
  height: 110px;
  width: 100%;
  transform: translateY(-30px);
  transition: transform 0.2s ease-out;
  background-color: black;
  z-index: 2;

  @include mixins.breakpoint(tablet) {
    @include mixins.flex(column, flex-start, flex-start);
  }

  @include mixins.breakpoint(mobile) {
    @include mixins.flex(column, flex-start, flex-start);
  }

  .dropdown-list__btn {
    @include mixins.flex(row, flex-start, center);
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 21px;
    font-weight: bold;
    color: variables.$primary-color;
    background-color: black;
  }

  @include mixins.activeBtn;
}

.dropdown-list__active {
  transform: translateY(80px);
}
