@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

.char-sect {
  margin: 40px 0 20px 0;

  .char-info {
    border-bottom: 2px solid variables.$primary-color;
    padding-bottom: 10px;

    .name {
      font-size: 48px;

      @include mixins.breakpoint(tablet) {
        font-size: 40px;
      }

      @include mixins.breakpoint(mobile) {
        font-size: 40px;
      }
    }

    .name::before {
      content: "";
      border-left: 15px solid variables.$primary-color;
      margin-right: 10px;
    }

    .race-gender {
      font-size: 20px;
    }
  }

  .char-planet {
    @include mixins.flex(row, flex-start, flex-start, 15px);
    padding: 15px 0;

    @include mixins.breakpoint(mobile) {
      @include mixins.flex(column);
    }

    .planet-img {
      width: 200px;
      height: 200px;
      border-radius: 4px;
      object-fit: cover;

      @include mixins.breakpoint(mobile) {
        width: 100%;
        height: auto;
      }
    }
  }
}
