@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

.Footer {
  position: relative;
  z-index: 1;
  padding: 0 40px;
  background-color: black;
  color: variables.$primary-color;
  .info {
    @include mixins.flex(row, space-between, center);
    height: 123px;
    border-bottom: 2px solid variables.$primary-color;
    .img-text {
      @include mixins.flex(row, flex-start, center, 20px);
      .ball-img {
        height: 45px;
        width: 45px;
      }
      .text {
        color: white;
        font-size: 26px;
        font-weight: bold;
      }
    }
    .social {
      font-size: 26px;
    }
  }
}
