@use "../../assets/scss/mixins";
@use "../../assets/scss/variables";

.Footer {
  position: relative;
  z-index: 1;
  background-color: black;
  color: variables.$primary-color;

  &-wrapper {
    padding: 0 40px;

    .info {
      @include mixins.flex(row, space-between, center);
      height: 123px;
      border-bottom: 2px solid variables.$primary-color;

      .img-text {
        @include mixins.flex(row, flex-start, center, 20px);

        .ball-img {
          height: 45px;
          width: 45px;
        }

        .text {
          color: white;
          font-size: 26px;
          font-weight: bold;
        }
      }

      .social-icons {
        @include mixins.flex("row", flex-start, flex-start, 8px);
        font-size: 28px;
      }
    }

    .chars-pages {
      @include mixins.flex(row, flex-start, flex-start, 25px);
      width: 100%;
      margin-top: 35px;

      .chars {
        width: 70%;

        &-title {
          padding-bottom: 5px;
          border-bottom: 1px solid variables.$primary-color;
        }

        &-names {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
          gap: 20px 10px;
          padding: 20px 0 40px;

          .name {
            width: 100px;
            height: 24px;
            font-size: 16px;
            font-weight: bold;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }
      }

      .pages {
        width: 30%;

        &-title {
          @extend .chars-title;
        }

        .links {
          @include mixins.flex(column, flex-start, flex-start, 20px);
          padding-top: 20px;
        }
      }
    }
  }

  .developer {
    @include mixins.flex(row, flex-start, center);
    height: 38px;
    background-color: variables.$primary-color;
    color: black;
    padding-left: 40px;
    font-weight: bold;
  }
}

// @include mixins.breakpoint(mobile) {
//   .chars-names {
//     grid-template-columns: repeat(3, 1fr) !important;
//   }
// }
